<h1> マイページ</h1>
<div>
 <label>性別 : <%= @clients.gender_i18n %></label>
</div>
<div class="field">
 <label>名前 : <%= @client.last_name %></label><br>
 <label>メールアドレス : <%= @client.email %></label>
 <%= link_to '編集する', edit_client_path(@client)%>
 <label>名前 : <%= @clients.last_name + @clients.first_name %></label><br>
 <label>メールアドレス : <%= @clients.email %></label>
</div>
<div>
	<% @addresses.each do |address|%>
	<%= address.to_name %>
	<%= address.to_name_kana %>
	<%= address.postal_code %>
	<%= address.address %>
	<%= address.tel_number %>
    <%= link_to "変更", edit_address_path(address) %>
    <%= link_to "削除", address_path(address), method: :delete %>
	<%end%>
</div>
<div>
<%= link_to "商品一覧へ", products_path %>
</div>
<div>
<%= link_to "配送先を追加する", new_address_path %>
</div>